@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #dcc562;
  --secondary: #a1a1a1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-montserrat: var(--font-montserrat);
  --font-philosopher: var(--font-philosopher);
}

@keyframes scalePulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  40% {
    transform: scale(1.02);
    opacity: 0.96;
  }
  70% {
    transform: scale(0.98);
    opacity: 0.92;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.swan-loader-animation {
  animation: scalePulse 1.5s linear infinite;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

.self-padd{
  padding: 3vw 3vw;
}
.text14 {
  font-size: 0.7vw;
}

.text20 {
  font-size: 0.95vw;
}
.text24 {
  font-size: 1.2vw;
}

.text30 {
  font-size: 1.65vw;
}

.text50 {
  font-size: 2.2vw;
}

.text150 {
  font-size: 8vw;
}

.text110 {
  font-size: 6vw;
}


/* Responsive font sizes for screens smaller than 1025px */
@media (max-width: 1025px) {
  .text14 {
    font-size: 3.2vw;
  }
  .text20 {
    font-size: 3.5vw;
  }
  .text30 {
    font-size: 7vw;
  }
  .text50 {
    font-size: 9vw;
  }
  .text150 {
    font-size: 15vw;
  }
  .text110 {
    font-size: 10vw;
  }
}