@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #dcc562;
  --secondary: #a1a1a1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-montserrat: var(--font-montserrat);
  --font-philosopher: var(--font-philosopher);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

.text14 {
  font-size: 0.7vw;
}

.text20 {
  font-size: 0.95vw;
}

.text30 {
  font-size: 1.65vw;
}

.text50 {
  font-size: 2.2vw;
}

.text150 {
  font-size: 8vw;
}

.text110 {
  font-size: 6vw;
}


/* Responsive font sizes for screens smaller than 1025px */
@media (max-width: 1025px) {
  .text14 {
    font-size: 3.2vw;
  }
  .text20 {
    font-size: 3.5vw;
  }
  .text30 {
    font-size: 7vw;
  }
  .text50 {
    font-size: 9vw;
  }
  .text150 {
    font-size: 15vw;
  }
  .text110 {
    font-size: 10vw;
  }
}